Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
PyYAML==4.2b2
Werkzeug==0.14
beautifulsoup4==4.7.1
gunicorn==19.9.0
itsdangerous==1.1.0
numpy==1.16.0
wsgiref==0.1.2
spacy==2.0.18
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm
