Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
MySQL-python==1.2.4
PyYAML==3.10
Werkzeug==0.9.4
beautifulsoup4==4.3.2
gunicorn==18.0
itsdangerous==0.23
newrelic==2.8.0.7
nltk==2.0.4
numpy==1.8.0
peewee==2.1.7
wsgiref==0.1.2
