p, textarea, td {
    font-family: 'Georgia' !important;
}

.text-large {
    font-size: 22px;
}

.text-medium {
    font-size: 18px;
}

#analyze-text {
    margin-bottom: 50px;
}

#text-entry {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    margin-bottom: 50px;
}