.placeholder-link {
    text-decoration: underline;
}

.tooltip-text {
    font-size: 16px;
    font-family: 'Georgia' !important;
}

.column-left, .column-right {
    overflow-y: auto;
}

.metric-active {
    color: #1e0fbe;
    cursor: pointer;
    border-bottom:1px dotted #1e0fbe;
}

.metric-active:active {
    color: #ff0000;
}

.nlp-highlighted-1 {
    background-color: rgba(77, 175, 74, 0.5);
}

.nlp-highlighted-2 {
    background-color: rgba(55, 126, 184, 0.5);
}

.nlp-highlighted-3 {
    background-color: rgba(228, 26, 28, 0.5);
}

.nlp-highlighted-4 {
    background-color: rgba(152, 78, 163, 0.5);
}

.nlp-highlighted-5 {
    background-color: rgba(255, 127, 0, 0.5);
}

.nlp-highlighted-6 {
    background-color: rgba(255, 255, 51, 0.5);
}

.nlp-highlighted-7 {
    background-color: rgba(166, 86, 40, 0.5);
}

.nlp-highlighted-8 {
    background-color: rgba(247, 129, 191, 0.5);
}

.nlp-highlighted-9 {
    background-color: rgba(153, 153, 153, 0.5);
}

.metrics-info-link {
    float: right;
}

#analyze-text {
    margin-bottom: 20px;
}

#clean-text {
    margin-bottom: 20px;
}

#text-entry {
    position: relative;
    margin-bottom: 20px;
    min-height: 180px;
    outline: none;
}

#text-placeholder {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: -10;
    color: #b3b3b3;
}

#expresso-pitch {
    margin-bottom: 20px;
}

#spinner-container {
    height: 400px;
}

#synonyms-button {
    cursor: pointer;
}

.glyphicon-ok-circle {
    color: darkgreen;
}

.glyphicon-ban-circle {
    color: darkred;
}

.strike-through {
    text-decoration: line-through;
}