p, td {
    font-family: 'Georgia' !important;
}

.text-large {
    font-size: 22px;
    font-family: 'Georgia' !important;
}

.text-medium {
    font-size: 18px;
}

.highlighted {
    background-color: #ffff00;
}

#analyze-text {
    margin-bottom: 50px;
}

#text-entry {
    margin-bottom: 50px;
    min-height: 200px;
    /*outline: none;*/
}