{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/about.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p class="text-large">Expresso is a practical tool to analyze, edit and compare text styles in English. It is built on top of Python <a target="_blank" href="http://nltk.org/">Natural Language Toolkit</a> package by <a target="_blank" href="https://www.facebook.com/mikpanko">Mikhail Panko</a>, a PhD student in computational neuroscience and high-tech enthusiast. If you have any comments or suggestions, please, drop me a line at <a target="_blank" href="mailto:mikpanko@gmail.com">mikpanko@gmail.com</a>.</p>

                <br>

                <p class="text-large">Check out <a target="_blank" href="https://github.com/mikpanko/expresso">Expresso code on GitHub</a>.</p>

                <br>

                <p class="text-large">Known issue: part-of-speech tagger and metrics heavily relying on it are not very precise. Let&rsquo;s talk if you know how to improve them.</p>

                <br>
                <br>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}