{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/about.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-large">Tool to analyze and compare text styles in English. If you have any comments or
                    suggestions, please, drop me a line at <a href="mailto:mikpanko@gmail.com">mikpanko@gmail.com</a>.
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}