{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/about.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p class="text-large">Expresso is an interactive tool to analyze, edit and compare text styles in English created by <a target="_blank" href="https://www.linkedin.com/in/mikpanko/">Mikhail Panko</a>.
                The first version was built in 2014 on top of the <a target="_blank" href="https://www.nltk.org/">Natural Language Toolkit</a> library.
                In 2019 Expresso was upgraded to use <a target="_blank" href="https://spacy.io/">spaCy</a> &mdash; a powerful and fast library for advanced Natural Language Processing, which relies on neural network models.
                The new NLP library allowed to speed up text analysis, improve metrics accuracy, and add new metrics based on syntactic structure of sentences.</p>

                <br>

                <p class="text-large">Expresso uses entered texts only to calculate style-related metrics and display back in the tool to the same user.
                No texts are recorded, stored or shared in any way to protect user privacy.</p>

                <br>

                <p class="text-large">If you have any comments or suggestions, please, drop me a line at <a target="_blank" href="mailto:expresso.writing.app@gmail.com">expresso.writing.app@gmail.com</a>.</p>

                <br>

                <p class="text-large">Check out <a target="_blank" href="https://github.com/mikpanko/expresso">Expresso code on GitHub</a>.</p>

                <br>

                <p class="text-large">If you enjoy Expresso and would like to support server costs and further development, you can make a donation at <a target="_blank" href="https://paypal.me/MikhailPanko">paypal.me/MikhailPanko</a>.</p>

                <br>
                <br>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
