<!DOCTYPE html>
<html lang="en">

<head>
    <title>Expresso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="/static/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <div role="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-base">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <a class="navbar-brand" href="/">Expresso</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-base">
        <ul class="nav navbar-nav">
            <li class="navbar-all" id="navbar-metrics"><a href="/metrics">Metrics</a></li>
            <li class="navbar-all" id="navbar-about"><a href="/about">About</a></li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

</body>

</html>