{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/expresso.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-large data-text-empty" id="text-entry" data-placeholder="Express yourself here..."
                     contenteditable="true"></div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-loading-text="Analyzing..."
                        id="analyze-text"><span class="glyphicon glyphicon-search"></span> Analyze text</button>
                <table class="table table-bordered table-hover text-medium" id="results-table">
                    <tr> <td>characters</td> <td id="character-count"></td> </tr>
                    <tr> <td>words</td> <td id="word-count"></td> </tr>
                    <tr> <td>vocabulary size</td> <td id="vocabulary-size"></td> </tr>
                    <tr> <td>sentences</td> <td id="sentence-count"></td> </tr>
                    <tr> <td>words per sentence</td> <td id="words-per-sentence"></td> </tr>
                    <tr> <td>declarative sentences</td> <td id="declarative-ratio"></td> </tr>
                    <tr> <td>interrogative sentences</td> <td id="interrogative-ratio"></td> </tr>
                    <tr> <td>exclamative sentences</td> <td id="exclamative-ratio"></td> </tr>
                    <tr> <td>stopwords</td> <td id="stopword-ratio"></td> </tr>
                    <tr> <td>syllables per word</td> <td id="syllables-per-word"></td> </tr>
                    <tr> <td>characters per word</td> <td id="characters-per-word"></td> </tr>
                    <tr> <td>readability grade</td> <td id="readability"></td> </tr>
                    <tr> <td>noun ratio</td> <td id="noun-ratio"></td> </tr>
                    <tr> <td>pronoun ratio</td> <td id="pronoun-ratio"></td> </tr>
                    <tr> <td>verb ratio</td> <td id="verb-ratio"></td> </tr>
                    <tr> <td>adjective ratio</td> <td id="adjective-ratio"></td> </tr>
                    <tr> <td>adverb ratio</td> <td id="adverb-ratio"></td> </tr>
                    <tr> <td>determiner ratio</td> <td id="determiner-ratio"></td> </tr>
                    <tr> <td>other part of speech ratio</td> <td id="other-pos-ratio"></td> </tr>
                    <tr> <td>frequent words</td> <td id="word-freq"></td> </tr>
                    <tr> <td>frequent bigrams</td> <td id="bigram-freq"></td> </tr>
                    <tr> <td>frequent trigrams</td> <td id="trigram-freq"></td> </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}