{% extends "base.html" %}

{% block javascript %}
    <link href="/static/css/how-to-use.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/how-to-use.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h3 id="learn-techniques">Learn practical techniques to improve your writing style</h3>

                <p>Placeholder text.</p>

                <h3 id="find-weak-spots">Find weak spots in your texts</h3>

                <p>Placeholder text.</p>

                <h3 id="dissect-writing-styles">Dissect writing styles of good authors</h3>

                <p>Placeholder text.</p>

                <h3 id="monitor-improvement">Monitor improvement of your writing skills</h3>

                <p>Placeholder text.</p>

                <h3 id="do-not-optimize">But... don't blindly optimize metrics in your texts</h3>

                <p>Placeholder text.</p>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}