{% extends "base.html" %}

{% block javascript %}
    <link href="/static/css/how-to-use.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/how-to-use.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p>Good writing style is hard to define yet we readily recognize it when we come across a well written text. Such text is easy to read: eyes glide through the words without interruption while the mind effortlessly captures ideas and transforms them into vivid images, sounds, and feelings. Well written text is also engaging &mdash; it pulls a reader into its action and does not let go.</p>

                <h3 id="learn-techniques">Learn practical techniques to improve your writing style</h3>

                <p>While good writing style is hard to master, there are several simple yet powerful <a href="/metrics">techniques</a> which many writing guides and coaches focus on. They can quickly improve the quality of your texts. Expresso teaches these techniques by applying them directly to your writing.</p>

                <h3 id="find-weak-spots">Find weak spots in your texts</h3>

                <p>Expresso highlights weak parts of a text which can benefit from stylistic changes, making editing simpler and more enjoyable. With practice, it will help you develop an eye for awkward phrasing and find possible fixes.</p>

                <h3 id="dissect-writing-styles">Dissect writing styles of good authors</h3>

                <p>Have you ever come across a great written piece and wondered what made it so good and how you could mimic the author&rsquo;s style? Put it into Expresso and discover which metrics significantly differ from your own writing.</p>

                <h3 id="monitor-improvement">Track improvement of your writing skills</h3>

                <p>Use Expresso to monitor changes in your writing style over time. When learning a new skill, fast and concrete feedback is crucial. Learning to write better is no exception to this rule; however, measuring improvement in writing is traditionally hard. Expresso metrics can provide such feedback. Automatically.</p>

                <h3 id="do-not-optimize">But... don&rsquo;t blindly optimize metrics in your texts</h3>

                <p>Writing metrics employed by Expresso can be powerful but they are not a &ldquo;magic bullet&rdquo;. They highly correlate with good writing but are not the cause of it, just like umbrellas correlate with rain but, of course, don&rsquo;t trigger it. Therefore, there is no benefit in optimizing the metrics blindly. For example, constructing short nonsensical sentences out of several common short words &mdash; &ldquo;it&rdquo;, &ldquo;get&rdquo;, &ldquo;all&rdquo;, etc &mdash; will result in a low readability grade; however, the text will be unintelligible. Instead, use highlighted metrics to identify weak areas and to get ideas for possible edits.</p>

                <br>

                <p>Good writing style remains an art, not a science…</p>

                <br>
                <br>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}