{% extends "base.html" %}

{% block javascript %}
    <link href="/static/css/metrics.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/metrics.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h2 id="editing-metrics">Metrics for editing</h2>

                <h3>Synonyms</h3>
                <p>Words with similar meaning. Use synonyms to find the most precise word for your idea or avoid excessive repetition. Synonyms on Expresso are pulled from <a href="http://wordnet.princeton.edu/" target="_blank">WordNet corpus</a>. Up to ten synonyms of the same part of speech are displayed for each word.</p>
                <p>Examples: <i>to show</i> &#8212; <i>to point</i>, <i>to present</i>, <i>to indicate</i>, <i>to establish</i>.</p>

                <h3>Weak verbs</h3>
                <p>Common English verbs with vague meaning. These words don&rsquo;t trigger vivid imagery in readers&rsquo; heads and usually require additional words to deliver a meaningful message. Substituting weak verbs with more specific ones will liven most texts.</p>
                <p>Units of measurement: percent of all verbs.</p>
                <p>Examples: <i>to be</i>, <i>to have</i>, <i>to do</i>, <i>to say</i>, <i>to go</i>, <i>to give</i>.</p>

                <h3>Filler words</h3>
                <p>Unnecessary words which are common in spoken language. They often don&rsquo;t add meaning and can be dropped.</p>
                <p>Units of measurement: percent of all words.</p>
                <p>Examples: <i>very</i>, <i>much</i>, <i>just</i>, <i>actually</i>, <i>possibly</i>, <i>really</i>.</p>

                <h3>Nominalizations</h3>
                <p>Complex nouns extended from shorter verbs, adjectives and nouns. They often slow a reader down and may be hard to interpret. Expresso finds them by specific suffixes. Try to rearrange the sentence to use the original shorter and more lively version of the word.</p>
                <p>Units of measurement: percent of all nouns and non-possessive pronouns.</p>
                <p>Examples: <i>practicality</i>, <i>tendency</i>, <i>indication</i>, <i>analysis</i>.</p>

                <h3>Entity substitutions</h3>
                <p>Pronouns and vague determiners common to spoken language. When overused, they can confuse a reader as the subject of the text would become more and more vague. If so, turn them into full entities with nouns, adjectives and adverbs.</p>
                <p>Units of measurement: percent of all nouns and non-possessive pronouns.</p>
                <p>Examples: <i>it</i>, <i>this</i>, <i>him</i>, <i>there</i>, <i>thing</i>, <i>stuff</i>.</p>

                <h3>Negations</h3>
                <p>Words and prefixes which reverse the meaning of the connected words. When used too often, especially more than once in a sentence, they slow a reader down and can obscure meaning. If so, replace negations with positive expressions with similar meaning.</p>
                <p>Units of measurement: number per sentence.</p>
                <p>Examples: <i>not</i>, <i>no</i>, <i>nothing</i>, <i>to undo</i>, <i>to misspell</i>.</p>

                <h3>Noun clusters</h3>
                <p>Three or more consecutive nouns with, possibly, “of” in between. Such clusters are often hard to comprehend. If so, mix them with strong verbs and adjectives.</p>
                <p>Units of measurement: percent of all nouns.</p>
                <p>Examples: <i>automated motor starting circuit</i>, <i>penicillin skin test result group</i>.</p>

                <h3>Passive voice</h3>
                <p>Sentences and clauses where the subject is the receiver of the main action. Often, sentences in passive voice sound weak and can be confusing. If so, rephrase the sentence in active voice.</p>
                <p>Units of measurement: cases per sentence.</p>
                <p>Examples: <i>is made</i>, <i>is being carried</i>, <i>will be started</i>.</p>

                <h3>Modals</h3>
                <p>Verb modifiers signifying ability or necessity. They can weaken statements by making them uncertain or too radical. If so, consider dropping the modal or substituting it with a relevant adverb.</p>
                <p>Units of measurement: percent of all verbs.</p>
                <p>Examples: <i>must</i>, <i>would</i>, <i>should</i>, <i>may</i>.</p>

                <h3>Rare words</h3>
                <p>Words outside of the 5000 most frequently used English words. To find them Expresso uses <a href="http://corpus.byu.edu/coca/" target="_blank">Corpus of Contemporary American English</a>. Your readers may not be familiar with some rare words, which can drop text comprehension. If so, substitute rare words with more common synonyms.</p>
                <p>Units of measurement: percent of all words.</p>
                <p>Examples: <i>to glare</i>, <i>to extort</i>, <i>an embassy</i>, <i>a bottleneck</i>, <i>pragmatism</i>.</p>

                <h3>Extra long sentences</h3>
                <p>Sentences with 40 or more words. They might be too hard to understand. If so, break them down into several smaller sentences.</p>
                <p>Units of measurement: percent of all sentences.</p>
                <p>Example: <i>“If, then, I were asked for the most important advice I could give, that which I considered to be the most useful to the men of our century, I should simply say: in the name of God, stop a moment, cease your work, look around you.”</i> &mdash; Leo Tolstoy, Essays, Letters and Miscellanies</p>

                <h3>Extra short sentences</h3>
                <p>Sentences with 6 or fewer words. They might be too boring. If so, expand them by adding more detail.</p>
                <p>Units of measurement: percent of all sentences.</p>
                <p>Example: <i>The day is warm.</i></p>

                <h3>Frequent words</h3>
                <p>The most frequent words in the text excluding <a href="/metrics#stopwords">stopwords</a> (described below). When clustered they can sound repetitive. If so, replace some of them with synonyms.</p>
                <p>Units of measurement: number of occurrences.</p>

                <h3>Frequent bigrams</h3>
                <p>The most frequent pairs of words in the text excluding <a href="/metrics#stopwords">stopwords</a> (described below). When clustered they can sound repetitive. If so, replace some of them with synonymous phrases.</p>
                <p>Units of measurement: number of occurrences.</p>

                <h3>Frequent trigrams</h3>
                <p>The most frequent triplets of words in the text. When clustered they can sound repetitive. If so, replace some of them with synonymous phrases.</p>
                <p>Units of measurement: number of occurrences.</p>

                <br>
                <br>
                <br>
                <h2 id="general-metrics">General metrics</h2>

                <h3>Vocabulary size</h3>
                <p>Number of different word stems in the text. Expresso finds stems of words via <a href="http://nltk.googlecode.com/svn-/trunk/doc/howto/tokenize.html" target="_blank">NLTK Porter word tokenizer</a>.</p>

                <h3>Sentences</h3>
                <p>Number of sentences in the text. This metric highlights the first word in each sentence to easily see the pattern of sentence lengths.</p>

                <h3>Syllables per word</h3>
                <p>Average number of syllables per word in the text. Expresso breaks words into syllables using <a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict" target="_blank">Carnegie Mellon University Pronouncing Dictionary</a>.</p>

                <h3>Readability grade</h3>
                <p>Comprehension level roughly corresponding to an American school grade. Expresso computes it using <a href="http://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_Readability_Test" target="_blank">Flesch–Kincaid Grade Level formula</a>. The grade is given only to texts with 100 or more words.</p>

                <h3>Parts of speech</h3>
                <p>Words of a particular part of speech in the text. Expresso puts all words into one of six categories: nouns, pronouns, verbs, adjectives, adverbs and other parts of speech. This categorization is done via default <a href="http://nltk.org/book/ch05.html" target="_blank">NLTK part-of-speech tagger</a>.</p>
                <p>Units of measurement: percent of all words.</p>

                <h3 id="stopwords">Stopwords</h3>
                <p>Most common words not carrying text-specific information. Expresso finds them using <a href="http://nltk.org/nltk_data/" target="_blank">NLTK Stopwords Corpus</a>.</p>
                <p>Units of measurement: percent of all words.</p>
                <p>Examples: <i>it</i>, <i>this</i>, <i>the</i>, <i>up</i>, <i>will</i>.</p>

                <br>
                <br>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}