{% extends "base.html" %}

{% block javascript %}
    <link href="/static/css/metrics.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/metrics.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h2 id="editing-metrics">Metrics for editing</h2>

                <h3>Synonyms</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>to show</i> &#8212; <i>to point</i>, <i>to present</i>, <i>to indicate</i>, <i>to establish</i>.</p>

                <h3>Weak verbs</h3>
                <p>These are most common English verbs with vague meaning. They don't trigger vivid imagery in readers'
                    heads and usually require additional words to deliver a meaningful message.
                    <a href="http://en.wikipedia.org/wiki/Light_verb" target="_blank">Light verbs</a> are examples of
                    weak verbs. Substituting weak verbs with more specific ones will liven most texts.</p>
                <p>Examples: <i>to be</i>, <i>to have</i>, <i>to do</i>, <i>to say</i>, <i>to go</i>, <i>to give</i>.</p>

                <h3>Filler words</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>very</i>, <i>much</i>, <i>just</i>, <i>actually</i>, <i>possibly</i>, <i>really</i>.</p>

                <h3>Nominalizations</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>practicality</i>, <i>tendency</i>, <i>indication</i>, <i>analysis</i>.</p>

                <h3>Entity substitutions</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>it</i>, <i>this</i>, <i>him</i>, <i>there</i>, <i>thing</i>, <i>stuff</i>.</p>

                <h3>Negations</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>not</i>, <i>no</i>, <i>nothing</i>, <i>to undo</i>, <i>to misspell</i>.</p>

                <h3>Noun clusters</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>automated motor starting circuit</i>, <i>penicillin skin test result group</i>.</p>

                <h3>Passive voice</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>is made</i>, <i>is being carried</i>, <i>will be started</i>.</p>

                <h3>Modals</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>must</i>, <i>would</i>, <i>should</i>, <i>may</i>.</p>

                <h3>Rare words</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>to glare</i>, <i>to extort</i>, <i>an embassy</i>, <i>a bottleneck</i>, <i>pragmatism</i>.</p>

                <h3>Extra long sentences</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>example.</i></p>

                <h3>Extra short sentences</h3>
                <p>Placeholder text.</p>
                <p>Examples: <i>The day is warm.</i></p>

                <h3>Frequent words</h3>
                <p>Placeholder text.</p>

                <h3>Frequent bigrams</h3>
                <p>Placeholder text.</p>

                <h3>Frequent trigrams</h3>
                <p>Placeholder text.</p>

                <br>
                <br>
                <h2 id="general-metrics">General metrics</h2>

                <h3>Vocabulary size</h3>
                <p>Placeholder text.</p>

                <h3>Sentences</h3>
                <p>Placeholder text.</p>

                <h3>Syllables per word</h3>
                <p>Placeholder text.</p>

                <h3>Readability grade</h3>
                <p>Placeholder text.</p>

                <h3>Parts of speech</h3>
                <p>Placeholder text.</p>

                <h3>Stopwords</h3>
                <p>Placeholder text.</p>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}